page-login {
    .login-content {
        background: -moz-linear-gradient(top, rgba(122,188,255,1) 0%, rgba(96,171,248,1) 44%, rgba(64,150,238,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
     
        .logo-row {
          padding-top: 50px;
          padding-bottom: 20px;
        }
     
        .login-box {
            background: rgb(37,141,200); /* Old browsers */
            background: -moz-linear-gradient(top, rgba(37,141,200,1) 0%, rgba(37,141,200,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#258dc8',GradientType=0 ); /* IE6-9 */
          padding: 20px 20px 0px 20px;
          margin-top: 30px;
        }
     
        ion-row {
           align-items: center;
           text-align: center;
         }
     
         ion-item {
             border-radius: 30px !important;
             padding-left: 30px !important;
             font-size: 0.9em;
             margin-bottom: 10px;
             border: 1px solid #ffffff;
             border-bottom: 0px !important;
             box-shadow: none !important;
         }
     
         .signup-col {
           margin: 0px 16px 0px 16px;
           padding-bottom: 20px;
         }
     
         .item-inner {
           border-bottom-color: #ffffff !important;
           box-shadow: none !important;
         }
     
         .submit-btn {
           background: rgba(64,150,238,1) ;
           border-radius: 30px !important;
           border: 1px solid #ffffff;
         }
     
         .register-btn {
           color: #ffffff;
           font-size: 0.8em;
         }
      }
}
